.custnavbar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 80px;
    background-color: rgb(3, 15, 25);
    color: white;
    padding: 0 15px;
}
.Header{
    background-color: black;
}
.custnavicons{
    display: flex;
    align-items: center;
    color: white;
}

.custnavicon{
    margin-top: 15px;
}